# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment/config files
.env
*.env

# Firebase credentials (very important)
firebase-credentials.json

# Streamlit cache
.streamlit/

# Logs
*.log

# macOS system files
.DS_Store

# VSCode settings (optional)
.vscode/
